$gridi-components-responsive-embed-margin-top: $elements-margin-top !default;
$gridi-components-responsive-embed-margin-bottom: $elements-margin-bottom !default;
$gridi-components-responsive-embed-margin-left: $elements-margin-left !default;
$gridi-components-responsive-embed-margin-right: $elements-margin-right !default;
$gridi-components-responsive-embed-margin-for-screens: () !default;

$gridi-components-responsive-embed-ratio: 75% !default;